<div class="card-body shadow">
  
  <div class="button-group d-flex justify-content-around">
    <form action="/" method="post">
      <button class="btn btn-success" type="submit">POST /</button>
    </form>
    <a href="/new" class="btn btn-warning" role="button">GET /new</a>
    <a href="/52" class="btn btn-primary" role="button">GET /:id</a>
  </div>
</div>